@font-face {
  font-family: "iconfont"; /* Project id 4118829 */
  src: url('//at.alicdn.com/t/c/font_4118829_j7arkn3n0ui.woff2?t=1686706749187') format('woff2'),
  url('//at.alicdn.com/t/c/font_4118829_j7arkn3n0ui.woff?t=1686706749187') format('woff'),
  url('//at.alicdn.com/t/c/font_4118829_j7arkn3n0ui.ttf?t=1686706749187') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye:before {
  content: "\e663";
  color: #BE002F;
}

.icon-guidang1:before {
  content: "\e6cc";
  color: #F36838;
}


.icon-fenlei:before {
  content: "\f7fd";
  color: #FFB3A7;
}

.icon-biaoqian:before {
  content: "\e6b1";
  color: #7BCFA6;
}

.icon-liuyanban-05:before {
  content: "\e600";
  color: #9bc6fc;
}

.icon-youqinglianjie:before {
  content: "\e614";
  color: #4C8DAE;
}

.icon-guanyuwomen:before {
  content: "\fbd2";
  color: #c196ff;
}


.icon-sousuo:before {
  content: "\e616";
  color: #392F41;
}

.icon-QQ1:before {
  content: "\e73e";
  color: #30a5dd;
}

.icon-github:before {
  content: "\e72a";
  color: #3e75c3;
}

.icon-wangyi:before {
  content: "\e604";
  color: #d81e06;
}

.icon-csdn:before {
  content: "\e602";
  color: #ce000d;
}

