@font-face {
  font-family: "iconfont"; /* Project id 4118829 */
  src: url('//at.alicdn.com/t/c/font_4118829_n79jfq6e9s9.woff2?t=1686619392641') format('woff2'),
       url('//at.alicdn.com/t/c/font_4118829_n79jfq6e9s9.woff?t=1686619392641') format('woff'),
       url('//at.alicdn.com/t/c/font_4118829_n79jfq6e9s9.ttf?t=1686619392641') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e72a";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-wangyi:before {
  content: "\e604";
  color: #d81e06;
}

.icon-csdn:before {
  content: "\e602";
  color: #d81e06;;
}

