@font-face {
  font-family: "iconfont"; /* Project id 4118829 */
  src: url('//at.alicdn.com/t/c/font_4118829_cony7qbzhb5.woff2?t=1686619844599') format('woff2'),
       url('//at.alicdn.com/t/c/font_4118829_cony7qbzhb5.woff?t=1686619844599') format('woff'),
       url('//at.alicdn.com/t/c/font_4118829_cony7qbzhb5.ttf?t=1686619844599') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ1:before {
  content: "\e73e";
  color: #3e75c3;
}

.icon-github:before {
  content: "\e72a";
}

.icon-wangyi:before {
  content: "\e604";
  color: #d81e06;
}

.icon-csdn:before {
  content: "\e602";
  color: #ce000d;
}

